#question {
    border-color: darkgray !important;
    border-width: 0.5px;
}

.input-group, #answer-container {
    max-width: 75%; 
}

#answer-container p {
    font-size: 10px;
}

.display-1 {
    color: gold;
    text-shadow:  1px 1px 4px gold;
}

button.gold {
    background-color: gold
}

button.gold:disabled {
    background-color: lightgoldenrodyellow
}

button.gold:hover {
    background-color: gold
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#star {
    text-align:right;
    margin-right: 8px;
}

input[type=text][disabled] {
    background-color: #0000007d !important;
    color: #00000063 !important;
}

#about {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: small;
}

#about-link {
    margin-left: 25px;
}

p {
    font-size: small;
}

@media (min-width: 820px) { /* Large devices */
    .input-group {
        margin-top: 1.5rem !important;
    }

    .input-group>.btn, .input-group>.form-control, .input-group>.form-select, .input-group>.input-group-text {
        padding: 0.5rem 1rem !important;
        font-size: 1.25rem !important;
    }

    #answer-container p {
        font-size: medium;
    }

    #about {
        margin-top: 20px;
        margin-left: 190px;
        margin-right: 190px;
        font-size: larger;
    }
}
