.input-group, #answer-container {
    max-width: 75%;
}

h1.gold {
    color: gold;
}

button.gold {
    background-color: gold
}

button.gold:disabled {
    background-color: lightgoldenrodyellow
}

button.gold:hover {
    background-color: gold
}

.hidden {
    display: none;
}

.showing {
    display: block;
}

#star {
    text-align:right;
    margin-right: 8px;
}